/* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
/* Випливне посилання "Нагору" */
#scroll-top {
	text-align: center;
	font-size: 2rem;
	position: fixed;
	right: 10px;
	bottom: 82px;
	width: 40px;
	height:40px;
	color: #010520;
	/*background-color: white;*/
	cursor: pointer;
	border-radius: 50%;
	/*border: 1px solid silver;*/
	z-index: 2000;
	line-height: 2.3rem;
}

/* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
#jumbotron {
	background-color: #010520;
	/* background-image: url(/img/bg-lemur.jpg); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

main {
	min-height: 50vh;
	background-color: #fffeff;
}

.nores {
	background-image: url(/img/bg-lemur.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 80vh;
}

#homeblock-vacancies {
	background-color: #3F4665;
	
}
#homeblock-vacancies h1 {
	color: white;
}
#homeblock-features {
	background-color: #2DA19D;
}
#homeblock-services {
	background-color: #31C4CC;
}
#homeblock-news {
	background-color: #EBB584;
}
#homeblock-clients {
	background-color: white;
}
#homeblock-people {
	background-color: #3F4665;
}
#homeblock-people h1 {
	color: white;
}
#homeblock-contacts {
	background-color: #1D2731;
	color: white;
}
#homeblock-feedback {
	background-color: #CFD8DC;
}

/* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
.card-img-top {
	display: block;
	width: 100%;
	height: auto;
}

.card-title {
	font-size: 1.28571429em;
	font-weight: 700;
	line-height: 1.2857em;
}

.card-text {
	clear: both;
	margin-top: .5em;
	color: rgba(0, 0, 0, .68);
}

/* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
div.required label, label.required {
	/*font-weight: bold;*/
}
div.required label:after, label.required:after {
	content:' *';
	color:red;
}

/* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
/* Фільтр */
#filter-block .button {
	border: 0;
}

/* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
/* Клієнти на головній */
.home-clients, .full-clients {
	filter: grayscale(75%);
}

.home-clients:hover, .full-clients:hover {
	filter: none;
}

/* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
/* Випливні підказки Popper.js */
.tooltip-inner, .arrow {
	background-color: #00cc00;
}
.tooltip.bs-tooltip-right .arrow:before {
	border-right-color: #00cc00 !important;
}
.tooltip.bs-tooltip-left .arrow:before {
	border-right-color: #00cc00 !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
	border-right-color: #00cc00 !important;
}
.tooltip.bs-tooltip-top .arrow:before {
	border-right-color: #00cc00 !important;
}


/* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
/* Тіні в карток */
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  /*width: 40rem;*/
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
.dropdown-subtle {
	display: none;
}
.card:hover .dropdown-subtle {
	display: block;
	color: grey;
	position: absolute;
	top: 0.25rem;
	right: 0.5rem;
}
.card:hover .dropdown-subtle:hover {
	color: black;
	text-decoration: none;
}

/* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
.form-m {
	max-width: 400px;
	margin: auto;
}

.copy-left { display: inline-block; text-align: right; margin: 0px; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: “FlipH”; }

/* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
/* TEST */
a[href^=http]:empty::before {
	content:  attr(href);
	color: red;
}

